/RestClientApplication/target
/KeycloakAccess/target
/GSDKeycloakProjects/product-app/target
/GSDKeycloakProjects/database-service/target
/GSDKeycloakProjects/customer-app/target
/.metadata
/.recommenders
